/* src/assets/styles/forgot-password.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .forgot-password-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1C1B1B;
    background: url('../images/fundo_consulta.png') no-repeat center center;
    background-size: cover;
  }
  
  .forgot-password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: none;
  }
  
  .forgot-password-logo {
    width: 250px;
    height: auto;
    cursor: pointer;
  }
  
  .navbar {
    margin-left: auto;
    margin-right: 30px;
    font-size: 16px;
    background: none;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background: none;
  }
  
  .navbar ul li {
    margin: 0 15px;
    background: none;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    background: none;
  }
  
  .navbar ul li a:hover,
  .navbar ul li a.active {
    color: red;
    text-decoration: none;
  }
  
  .forgot-password-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-box {
    background: rgba(28, 27, 27, 0.5); /* Cor com 50% de transparência */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .forgot-password-button {
    padding: 10px;
    background-color: #14B3B3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password-button:hover {
    background-color: #0f8888;
  }
  