.services-page {
    height: 100vh;
    overflow: hidden;
    background-color: #1C1B1B;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .services-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: #1C1B1B;
  }
  
  .services-logo {
    width: 250px;
    height: auto;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .navbar-container {
    margin-right: 30px;
  }
  
  .navbar-container a {
    font-size: 16px;
    margin-left: 10px;
    background: none !important;
  }
  
  .services-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../images/fundo_services.png') no-repeat center center;
    background-size: cover;
    padding: 5px;
  }
  
  .services-content {
    text-align: center;
    max-width: 800px;
    margin-bottom: 40px;
  }
  
  .services-title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .services-text {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 30px;
  }
  
  .services-boxes {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 150px;
  }
  
  .services-box {
    background: rgba(39, 39, 39, 0.74);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .services-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .services-box-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .services-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
  }
  
  .services-button:hover {
    background-color: darkred;
  }
  
  .navbar {
    margin-left: auto;
    font-size: 16px;
    background: none;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background: none;
  }
  
  .navbar ul li {
    margin: 0 15px;
    background: none;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    background: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-icon {
    cursor: pointer;
  }
  
  .footer-icon.active {
    color: red;
  }
  
  